<div class="infobox">
  <div class="infobox-header">{{ .Params.rule_id }}</div>
  <div class="infobox-body">
    <div class="infobox-row">
      <span class="infobox-label">Name</span>
      <span class="infobox-value">{{ .Params.rule_name }}</span>
    </div>
    <div class="infobox-row">
      <span class="infobox-label">Severity</span>
      <span class="infobox-value">{{ .Params.severity }}</span>
    </div>
    <div class="infobox-row">
      <span class="infobox-label">Condition</span>
      <span class="infobox-value">{{ .Params.condition }}</span>
    </div>
    <div class="infobox-row">
      <span class="infobox-label">Languages</span>
      <span class="infobox-value">
        {{- range $i, $lang := .Params.language_applicability -}}
          {{- if $i }}, {{ end }}{{ $lang | humanize }}
        {{- end -}}
      </span>
    </div>

    {{- with .Params.acf_entries }}
    <div class="infobox-row">
      <span class="infobox-label">ACF Entries</span>
      <span class="infobox-value">
        {{- range $i, $id := . -}}
          {{- if $i }}, {{ end -}}
          {{- $pages := where site.RegularPages "Section" "acf" -}}
          {{- $found := false -}}
          {{- range $pages -}}
            {{- if eq .Params.acf_id $id -}}
              <a href="{{ .RelPermalink }}">{{ $id }}</a>
              {{- $found = true -}}
            {{- end -}}
          {{- end -}}
          {{- if not $found }}{{ $id }}{{ end -}}
        {{- end -}}
      </span>
    </div>
    {{- end }}
  </div>
</div>
